conky.config = {
	out_to_x = false,
	own_window = false,
	out_to_console = true,
	background = false,
	max_text_width = 0,
	update_interval = 0.5,
	total_run_times = 0,
	short_units = true,
	if_up_strictness = 'address',
	use_spacer = 'left',
	override_utf8_locale = true,
	net_avg_samples = 10,
	cpu_avg_samples = 10,
  color1 = 'dddddd',

};

conky.text = [[

# JSON for i3bar

[

### MPD CONKY
# Any UTF8 JSON error may be cause by some invalid character in title/filename song

# MPD UI
#{ "full_text" : ${if_mpd_playing}"¿ mpd"${else}""${endif},  "separator":false, "separator_block_width":5, "color":"$color1"},

# RANDOM MODE
#{ "full_text" :\
#${if_mpd_playing}\
#                ${if_match "${mpd_random}"=="On"}\
#                "¿"\
#                ${else} "¿"\
#                ${endif}\
#${else}""${endif},  "separator":false, "separator_block_width":3, "color" : ${if_match "${mpd_random}"=="On"}\
#                "$color1"\
#                ${else} "\#999999"\
#                ${endif}},
#
## REPEAT MODE
#{ "full_text" :\
#${if_mpd_playing}\
#                ${if_match "${mpd_repeat}"=="On"}\
#                "¿"\
#                ${else} "¿"\
#                ${endif}\
#${else}""${endif},  "separator":false, "separator_block_width":8, "color" : ${if_match "${mpd_repeat}"=="On"}\
#                "$color1"\
#                ${else} "\#999999"\
#                ${endif}},
#
## PLAY STATUS
#{ "full_text" : ${if_mpd_playing} ${if_match "${mpd_status}"=="Playing"}
#                                  "¿"\
#                                  ${else} "¿"\
#                                  ${endif}\
#                ${else}""${endif},  "separator":false, "separator_block_width":5, "color":"$color1"},
#
## SONG INFO
#{ "full_text" : ${if_mpd_playing}"${scroll 25 1 ${mpd_smart}}"${else}""${endif},  "separator":false, "separator_block_width":0, "color":"$color1"},
#{ "full_text" : ${if_mpd_playing}" (${mpd_elapsed})|"${else}""${endif},  "separator":false, "separator_block_width":5, "color":"\#555555"},

####

# FREE SPACE /home
{ "full_text" : "¿${fs_free /home}",  "separator":false, "separator_block_width":8, "color" : ${if_match ${fs_free_perc /home}<=5}       "\#dc322f"  ${else} ${if_match ${fs_free_perc /home}<=10}"\#cb4b16" ${else} ${if_match ${fs_free_perc /home}<=15}"\#b58900"${else} "$color1" ${endif} ${endif}${endif} },

# FREE SPACE /
{ "full_text" : "¿ ${fs_free}",  "separator":false, "separator_block_width":8, "color" : ${if_match ${fs_free_perc}<=5}       "\#dc322f"  ${else} ${if_match ${fs_free_perc}<=10}"\#cb4b16" ${else} ${if_match ${fs_free_perc}<=15}"\#b58900"${else} "$color1" ${endif} ${endif}${endif} },

# CPU0 USAGE
{ "full_text" : ${if_match ${cpu cpu0}<10} "¿ 0${cpu cpu0}%" ${else} "¿ ${cpu cpu0}%" ${endif},       "separator":false, "separator_block_width":8, "color" : ${if_match ${cpu cpu0}>=90}       "\#dc322f"  ${else} ${if_match ${cpu cpu0}>=85}"\#cb4b16" ${else} ${if_match ${cpu cpu0}>=70}"\#b58900"${else} "$color1" ${endif} ${endif} ${endif}},

## CPU AVG TEMP
#{ "full_text" : "¿ ${execi 8 ~/.config/i3/scripts/cpu_avg_temp.sh}°C",        "separator":false, "separator_block_width":8, "color" : ${if_match ${exec ~/.config/i3/scripts/cpu_avg_temp.sh}<=65} "$color1"     ${else}  ${if_match ${exec ~/.config/i3/scripts/cpu_avg_temp.sh}>=75}"\#dc322fc" ${else} ${if_match ${exec ~/.config/i3/scripts/cpu_avg_temp.sh}>=70}"\#cb4b16"${else} "\#b58900" ${endif}${endif}  ${endif} },

# MEMORY USAGE
{ "full_text" : "¿ ${memperc}%",        "separator":false, "separator_block_width":8, "color" : ${if_match ${memperc}>90}       "\#dc322f"  ${else} ${if_match ${memperc}>=85}"\#cb4b16" ${else} ${if_match ${memperc}>=70}"\#b58900"${else} "$color1" ${endif} ${endif}${endif} },

# ETHERNET "enp3s0"
{ "full_text" :"¿" ,     "separator":false, "separator_block_width":5, "color" : "$color1" },

{ "full_text" : ${if_match "$gw_iface"=="(null)"} \
                "¿"\
                ${else} ""\
${endif} ,  "separator":false, "separator_block_width":5, "color" : ${if_match "$gw_iface"=="(null)"}"\#b58900"${else}"$color1"${endif} },

## Down/Up speed
{ "full_text" : ${if_match ${downspeedf enp3s0}>=27.5}\
                            "¿"\
                            ${else} "¿"\
                            ${endif}\
,  "separator":false, "separator_block_width":3, "color" :${if_match ${downspeedf enp3s0}>=27.5}\
                            "$color1"\
                            ${else} "\#999999"\
                            ${endif}\
},

{ "full_text" : ${if_match ${upspeedf enp3s0}>=2.5}\
                            "¿"\
                            ${else} "¿"\
                            ${endif}\
,  "separator":false, "separator_block_width":8, "color" :${if_match ${upspeedf enp3s0}>=2.5}\
                            "$color1"\
                            ${else} "\#999999"\
                            ${endif}\
},

# VOLUME
{ "full_text" : \
${if_match "${exec ~/.config/i3/scripts/alsa_conky.sh}"!="muted"}\
    ${if_match ${exec ~/.config/i3/scripts/alsa_conky.sh}>=60}\
    "¿ ${exec ~/.config/i3/scripts/alsa_conky.sh}%"\
    ${else} ${if_match ${exec ~/.config/i3/scripts/alsa_conky.sh}==0}\
    "¿ 0%"\
    ${else}"¿ ${exec ~/.config/i3/scripts/alsa_conky.sh}%"${endif}${endif} ${else}"¿ muted"${endif}\
    ,  "separator":false, "separator_block_width":8, "color" :\
${if_match "${exec ~/.config/i3/scripts/alsa_conky.sh}"=="muted"}\
            "\#900000"\
    ${else} ${if_match ${exec ~/.config/i3/scripts/alsa_conky.sh}<=30}\
            "\#dc322f"\
    ${else} ${if_match ${exec ~/.config/i3/scripts/alsa_conky.sh}<60}\
            "\#776700"\
    ${else} "$color1"\
            ${endif}\
            ${endif}\
${endif}},

# checkupdates for pacman!
#{ "full_text" : ${if_match ${execpi 3600 checkupdates | wc -l}<5}""${else}"¿ ${execpi 60 checkupdates | wc -l}"${endif},  "separator":false, "separator_block_width":8, "color" : ${if_match ${execpi 3600 checkupdates | wc -l}==0}"\#000000"${else}"\#dc322f"${endif} },

# Weather and Time
{ "full_text" : "¿ ${execi 300 ~/.config/i3/scripts/weather.sh "SA|BR|SC|Florianopolis"}" ,  "separator":false, "separator_block_width":8, "color" : "$color1" },
#{ "full_text" : "¿ ${execi 21600 ~/.config/i3/scripts/imap.pl}" ,  "separator":false, "separator_block_width":8, "color" : "$color1" },
{ "full_text" :"¿ ${time %a, %d %b} ¿ ${time %R}",     "separator":false, "separator_block_width":5, "color" : "$color1" },
{ "full_text" :"¿",     "separator":false, "separator_block_width":8, "color" : "\#000000" }


],


]];
